html{

  /* font-size: 16px;*/
    font-family: sans-serif;
    color: #4A4A4A;
}

body{
   font-size: 1.625em;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

header.desktop{

    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
    width: 100%;

}

.mobile{

    display: none;

}

ul{

    display: flex;
    list-style: none;
    margin-right: 24px;
}

ul li{

    margin: 0 10px;
    
}

li a{

    text-decoration: none;
    color: black;
    font-size: 1.25rem;

}




.logo{

    height: 50px;

}

.left{

    width: 60%;
    margin: 32px 24px;

}

.learn_section{
   
    background-color: #D8D8D8;
    display: flex;
    align-items: center;
    width: 100%;

}
.button{

    text-decoration: none;
    background-color: #4A4A4A;
    padding-top: 15px ;
    color: white;
    font-weight: normal;
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
   


}

.content{

    margin: 0 auto;
    color: #4A4A4A;
    font-size: 1rem;
   margin: 0 24px;
    
}

 h1 {

     line-height: 2;

}

.learn_section .pic img,.practice .pic img, .thesis .pic img {

    width: 100%;

}

.right{

    width: 40%;
    margin: 32px 24px;
}

.practice{
  
    display: flex;

}

.practice .others{

    display: flex;
    flex-direction: column;

}

.boxes{

    display: flex;
    width: 100%;

}

.boxes .pic {

    width: 35%;

}

.boxes .content{

    width: 65%;

} 


.box{

    width: 30%;

}
.box .pic{

    width: 100%;

}

.box .pic img{

    width: 100%;

}



.start-learning{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

}

.box{

   margin: 10px;

}

.center{

    text-align: center;

}

.boxes a{

    text-decoration: none;
    color: blue;

}

.thesis{

    display: flex;

}

main{

    width: 100%;

}

@media only screen and (max-width: 800px){


    html{

        margin: 0;
        padding: 0;

    }

    .learn_section{

        flex-wrap: wrap;

       

    }


    .learn_section .pic{

        width: 100%;

    }

    .content{

        width: 100%;

    }

    .practice .left{

        display: none;

    }

    .practice .right{

        width: 100%;

    }

    .start-learning .box{

        width: 100%;

    }


    .thesis .right{

        display: none;


    }

    .thesis .left{

        width: 100%;

    }

    header.desktop{

        display: none;

    }



    .mobile ul li{

        width: 100%;

    }

    header.mobile{

        display:inline-block;
        margin: 10px 5px;

    }

    footer{

        margin: 0 16px;

    }

    
        
}

footer{


    float: left;
    margin: 0 24px;
    font-size: 1rem;

}
